<form class="content" #form="ngForm" >
  <div>
    <label for="exampleFormControlInput1" class="form-label">Moeda</label>
    <select
      class="form-select"
      name="moedaSelecionada"
      [(ngModel)]="moedaSelecionada"
      aria-label="Default select example"
      required
    >
      <option selected value="">Selecione a moeda</option>
      <option
        name="selectMoeda"
        *ngFor="let list of listMoeda"
        [value]="list.ID"
      >
        {{ list.TEXT }}
      </option>
    </select>
  </div>

  <div> 
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Data Inicial</label
      >
      <input
        name="dataInicial"
        [(ngModel)]="dataInicial"
        type="date"
        class="form-control"
        required
      />
    </div>
  </div>

  <div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Data Final</label
      >
      <input
        name="dataFinal"
        [(ngModel)]="dataFinal"
        type="date"
        class="form-control"
        required
      />
    </div>
  </div>
  <div class="content-btn">
    <button (click)="obterTodosMoedas()"
    type="button"
    class="btn btn-primary"
    [disabled]="form.invalid" class="btn btn-success">Consultar dados</button>
    <button
      (click)="obterTodosMoedas()"
      type="button"
      class="btn btn-primary"
      [disabled]="form.invalid"
    >
      <img src="icons/bi-check.svg" alt="" />
      Atualizar dados
    </button>
  </div>
</form>
<ng-container *ngIf="cotacoes$ | async as cotacoes">
  <app-table *ngIf="cotacoes.length > 0" [cotacoes]="cotacoes"></app-table>
</ng-container>
<ng-container class="dateInvalide" *ngIf="checarDataInicialEFinal()">
  <p>Data final Invalida</p>
</ng-container>
