<div class="content-table ">
    <div class="content ">
        <table class="table" >
            <thead>
              <tr>
                <th scope="col">Cotação de compras</th>
                <th scope="col">Cotação de vendas</th>
                <th scope="col">Data e hora da cotação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let moeda of cotacoes">
                <td>{{moeda.cotacaoCompra}}</td>
                <td>{{moeda.cotacaoVenda}}</td>
                <td>{{moeda.dataHoraCotacao | date: 'dd/MM/YYYY HH:mm:ss'}}</td>
              </tr>

            </tbody>
          </table>
      </div>
</div>
